.main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
.main-header a{
    color: white;
}
.logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
}
	.logo-header:hover {
		color: #fd0000;
	}
	
	.logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 2em;
	}
	
	.logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.9em;
		color: #dbdbdb;
	}
/*.main-header .logo-header img {
width: 450px;
height:90px;
}*/
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 15px 20px;
    margin-top: 100px;
    text-align: center;
    font-weight: 300;
    color:#333;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
img{
    height: auto;
    max-width: 100%;
}
p{
    margin: 1.5em 1.5em 1.5em 1.5em;
}
nav{
    float: right;
}
    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
        background: #333;
        
    }
        nav ul li{
            display: inline-block;
            line-height: 80px;
        }
            nav ul li a{
                display: block;
                padding: 0 10px;
                text-decoration: none;
                transition: color 0.3s;
                border-radius: 20px;
            }
                nav ul li a:hover{
                    background: #fd0000;
                    color: white;
                    transform: scale(1.05);
                }
                nav ul li a:active{
                    background: #fd0000;
                    color: white;
                }

.games {
    display: flex; /* Usamos Flexbox para centrar */
     justify-content: center; /* Centramos horizontalmente */
}
                  
    .games ul {
        list-style: none !important;
        list-style-type: none !important;
        margin: 0;
        padding: 20px;
    }
                  
        .games ul li {
            margin: 0 10px; /* Espacio entre los elementos de la lista */
        }
                  
                  .games ul li button {
                    display: block;
                    background-image: url('src/back1.jpeg');
                    text-align: center;
                    padding: 16px;
                    margin-bottom: 5px;
                    font-size: 3em;
                    text-decoration: none;
                    border-radius: 20px;
                  }
                  
                  .games ul li button:hover {
                    background: #fd0000;
                    transform: scale(1.05);
                  }
                  div.games ul li { 
                    list-style-type: none; 
                  }
.main-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}        
    .main-footer p{
        margin:0;
    }
    .main-footer a{
        color: white;
    }
.columna{
    float: left;
    width: 30%;
    padding-right: 5px;
    margin: 0;
}
.columna1{
    float: left;
    width: 23%;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
}
.fila{
    display: flex;
    justify-content: center;
}
.fila::after{
    
    content: "";
    clear: both;
    display: table;
    margin: 0;
}

#main-content{
    display:block;
    justify-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    width: 450px;
    height: 520px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #f02b2b;
    padding: 25px; 
}

#postulacion-form label, #habilidades-form label {
    display: block;
}

#postulacion-form input {
    margin-bottom: 5px;
}

#habilidades-form input{
    margin-bottom: 5px;
}
.btn-primary {
    background: #333; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Relleno (padding) del botón */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Se muestra en línea con otros elementos */
    font-size: 13px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
    margin-bottom: 10px;
}
.btn-primary:hover{
    background-color: #f02b2b; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}
.bodyapply{
    background-image: url('src/backapply.jpeg');
    background-size: cover;
    background-position: center;
}
