.main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
.main-header a{
    color: white;
}
.logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
    
}
	.logo-header:hover {
		color: #f02b2b;
	}
	
	.logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 2em;
        transition: background-color 0.3s, transform 0.3s;
	}
	
	.logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.9em;
		color: #dbdbdb;
	}
/*.main-header .logo-header img {
width: 450px;
height:90px;
}*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #666;
    background: white;
    font-size: 1em;
    line-height: 1.5em;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 10px 20px;
    margin-top: 100px;
    text-align: center;
    font-weight: 300;
    color:#333;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}
img{
    height: auto;
    max-width: 100%;
}
p{
    margin: 1.5em 1.5em 1.5em 1.5em;
}
nav{
    float: right;
}
    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 20px;
        background: #333;
        
    }
        nav ul li{
            display: inline-block;
            line-height: 80px;
        }
            nav ul li a{
                display: block;
                padding: 0 10px;
                text-decoration: none;
                transition: background-color 0.3s, transform 0.3s;
                border-radius: 20px;
            }
                nav ul li a:hover{
                    background: #f02b2b;
                    color: white;
                    transform: scale(1.05);
                }
                nav ul li a:active{
                    background: #f02b2b;
                    color: white;
                }

.games {
    display: flex; /* Usamos Flexbox para centrar */
     justify-content: center; /* Centramos horizontalmente */
}
                  
    .games ul {
        list-style: none !important;
        list-style-type: none !important;
        margin: 0;
        padding: 20px;
    }
                  
        .games ul li {
            margin: 0 10px; /* Espacio entre los elementos de la lista */
        }
                  
                  .games ul li button {
                    display: block;
                    background-image: url('src/back1.jpeg');
                    text-align: center;
                    padding: 16px;
                    margin-bottom: 5px;
                    font-size: 3em;
                    text-decoration: none;
                    border-radius: 20px;
                  }
                  
                  .games ul li button:hover {
                    background: #f02b2b;
                    transform: scale(1.05);
                  }
                  div.games ul li { 
                    list-style-type: none; 
                  }
                  
.main-footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}        
    .main-footer p{
        margin:0;
    }
    .main-footer a{
        color: white;
    }
.columna{
    float: left;
    width: 30%;
    padding-right: 5px;
    margin: 0;
}
.columna1{
    float: left;
    width: 23%;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0;
}
.fila{
    display: flex;
    justify-content: center;
}
.fila::after{
    
    content: "";
    clear: both;
    display: table;
    margin: 0;
}

#maint-content{
    display:block;
    justify-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    height: 730px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #f02b2b;
    padding: 25px; 
}

#postulacion-form label, #habilidades-form label {
    display: block;
}

#postulacion-form input {
    margin-bottom: 5px;
}

#habilidades-form input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
}
.btn-primary {
    background: #333; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Relleno (padding) del botón */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Se muestra en línea con otros elementos */
    font-size: 13px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen alrededor del botón */
    margin-bottom: 5px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave */
    margin-bottom: 10px;
}
.btn-primary:hover{
    background-color: #f02b2b; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}
.bodyapply{
    background-image: url('src/backapply.jpeg');
    background-size: cover;
    background-position: center;
}
input{
    width:100%;padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
input:focus{
    border-bottom:2px solid #333;
}
#skills-form{
    display: block;
    flex-wrap: wrap;
}

#skills-form label {
    margin-right: 20px; /* Espacio entre los elementos */
}


.card{
    display: grid;
    justify-items: center;
    margin-top: 50px;
    width: 450px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px #ef93ff;
}

.card img{
    margin-top: 40px;
    box-shadow: 0px 0px 10px goldenrod;
    width: 60%;
    border-radius: 50%;
    object-fit: scale-down;
}

.card p{
    text-align: center;
    margin-top: 0px;
}

.card p:nth-child(3){
    color: grey;
    margin-top: 10px;
    font-size: 20px;
}

.card p:nth-child(2){
    font-weight: 600;
    margin-top: 10px;
    font-size: 30px;
    color: #e02fff;
}

.card #boton{
    color: #ffffff;
    font-size: 30px;
    width: 100%;
    background-color: #e02fff;
    text-align: center;
    padding-top: 40px;
}
.content-area{
    display: flex;
    width:100%
}
.content-area .imageareacontainer{
    
}
.imageareacontainer{
    flex: 1;
    padding: 20px;
}
.imageareacontainer img{
    border-right: 5px solid #f02b2b;
    margin-left: -25px;
}

.info-area{
    padding-right: 50px;
    padding-left: 0px;
}

.liner{
    display:inline-flex;
}

.info-area {
    width: 60%;
}

#area{
    margin-top: -25px;
    background: #f02b2b;
    color: white;
    text-align: center;
    padding: 20px;
}